<link rel="stylesheet" href="~/Scripts/index.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">

<div class="card">
    <img src="~/Scripts/birthday.svg" alt="birthday" class="birthday">
    <div class="text">
        <h1>Congratulations!</h1>
        <p>The form has been sent correctly</p>
        <a class="btn btn-primary" href='@Url.Action("Create", "Form")'>Accept</a>
    </div>
    <div class="space"></div>
</div>